
.reminders{
    display:flex;
    justify-content: space-around;
    border:2px solid #56b389;
    width:70%;
    margin:auto;
    margin-bottom:10px;
    border-radius: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* background-color: #4070f4; */
  
    /* background-image: url('https://media.istockphoto.com/photos/round-podium-or-pedestal-with-blue-background-picture-id1226478932?b=1&k=20&m=1226478932&s=170667a&w=0&h=hXsvxQilNanpKx7QC_tIsFUOKPl8fdIDfJ_QSKXesGE='); */

}

.reminders>p{
font-size: 21px;
font-family:Arial, Helvetica, sans-serif;
width:10%
}
.time{
    margin-right:10px;
}
.form{
    margin-bottom: 20px;
}
.inputBox{
    outline: none;
    width:200px;
    border:1px solid #56b389;
    height:35px;
    margin-right: 10px;
}

.navbar{
    display: flex;
    /* margin-left:30px; */
    justify-content: space-evenly;
    height:50px;
    background-color: #56b389;
    text-align: left;
}
