.App {
  text-align: center;
  /* background-color: #eaeaea;; */
}
.Reminder{
  background-color: #eaeaea;
/* height:650px; */
}
/* .Reminder>div{
  z-index: 10000;
  position: fixed;
  top: 30px;
  width: 100%;
} */